.filters-form {
  margin-top: 2.5rem;
  text-align: center;
  padding: 1rem;
}

.ctn-buttons {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.btn-add {
  background-color: #c04d10;
  color: white;
}

.btn-toggle {
  background-color: #c01097;
  color: white;
}

.filters-form {
  margin-top: 5rem;
}
