<ng-container *ngIf="vm$ | async as vm">
  <!-- FILTERS -->
  <form [formGroup]="filtersForm" class="filters-form" (ngSubmit)="onFiltersSubmit()">
    <!-- CONTINENT -->
    <mat-form-field appearance="outline">
      <mat-label>Continent</mat-label>

      <mat-icon matPrefix>public</mat-icon>

      <mat-select formControlName="continent">
        <mat-option value="">
          <i class="fa-solid fa-globe"></i>
          All continents
        </mat-option>

        <mat-option *ngFor="let continent of continents" [value]="continent">
          <span class="continent-option">
            <i [class]="continentIcons[continent]"></i>
            {{ continent | titlecase }}
          </span>
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- REGION -->
    <mat-form-field appearance="outline">
      <mat-label>Region</mat-label>
      <mat-icon matPrefix>map</mat-icon>

      <mat-select formControlName="region">
        <mat-option value="">
          <mat-icon>public</mat-icon>
          All regions
        </mat-option>

        <mat-option *ngFor="let region of filteredRegions" [value]="region">
          {{ regionNames[region] }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- COUNTRY -->
    <mat-form-field appearance="outline">
      <mat-label>Country</mat-label>
      <mat-icon matPrefix>public</mat-icon>
      <input matInput formControlName="country" [matAutocomplete]="autoCountry" />

      <mat-autocomplete
        #autoCountry="matAutocomplete"
        [displayWith]="displayCountryCode"
        (optionSelected)="onCountrySelected($event)"
      >
        <mat-option value="">
          <mat-icon>public</mat-icon>
          All Countries
        </mat-option>
        <mat-option *ngFor="let country of filteredCountries" [value]="country.countryCode">
          <span [class]="country.countryCode | flag"></span>
          {{ country.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <!-- GROUP TYPE -->
    <mat-form-field appearance="outline">
      <mat-label>Group Type</mat-label>
      <mat-icon matPrefix>groups</mat-icon>

      <mat-select formControlName="groupType">
        <mat-option value=""> <mat-icon>groups</mat-icon>All groups</mat-option>
        <mat-option value="solo"> <mat-icon>person</mat-icon>Solo</mat-option>
        <mat-option value="couple"> <mat-icon>favorite</mat-icon>Couple</mat-option>
        <mat-option value="friends"> <mat-icon>group</mat-icon>Friends</mat-option>
        <mat-option value="family"> <mat-icon>family_restroom</mat-icon>Family</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- FROM -->
    <mat-form-field appearance="outline">
      <mat-label>Visited From</mat-label>
      <mat-icon matPrefix>calendar_month</mat-icon>

      <input matInput [matDatepicker]="fromPicker" formControlName="from" />
      <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
      <mat-datepicker #fromPicker></mat-datepicker>
    </mat-form-field>

    <!-- TO -->
    <mat-form-field appearance="outline">
      <mat-label>Visited To</mat-label>

      <mat-icon matPrefix>calendar_month</mat-icon>
      <input matInput [matDatepicker]="toPicker" formControlName="to" />
      <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
      <mat-datepicker #toPicker></mat-datepicker>
    </mat-form-field>

    <!-- FIRST TIME -->
    <mat-form-field appearance="outline">
      <mat-label>First Time</mat-label>
      <mat-icon matPrefix>editor_choice</mat-icon>
      <mat-select formControlName="isFirstTime">
        <mat-option value=""> <mat-icon>editor_choice</mat-icon>All</mat-option>
        <mat-option [value]="true"> <mat-icon>check_circle</mat-icon>Yes</mat-option>
        <mat-option [value]="false"> <mat-icon>cancel</mat-icon>No</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- ACTIONS -->
    <div class="filters-actions">
      <button type="button" mat-stroked-button (click)="clearFilters()">
        <mat-icon>clear</mat-icon>
        Clear
      </button>

      <button type="submit" mat-raised-button color="primary">
        <mat-icon>search</mat-icon>
        Search
      </button>
    </div>
  </form>

  <div class="ctn-btns">
    <!-- TOGGLE BUTTON -->
    <button class="btn-toggle" mat-icon-button (click)="changeView()" [matTooltip]="nextViewTooltip">
      <mat-icon [fontIcon]="nextViewIcon"></mat-icon>
    </button>

    <!-- STATS BUTTON -->
    <button [routerLink]="['/guests/stats']" class="btn-stats" mat-icon-button matTooltip="See stats">
      <mat-icon fontIcon="leaderboard"></mat-icon>
    </button>

    <!-- ADD BUTTON -->
    <button [routerLink]="['/guests/add']" class="btn-add" mat-icon-button matTooltip="Create Guest">
      <mat-icon fontIcon="add"></mat-icon>
    </button>
  </div>

  <!-- CARDS -->
  <guests-cards *ngIf="vm.status === 'success' && currentView === 'cards'" [data]="vm.data"></guests-cards>

  <!-- MAP -->
  <guests-map *ngIf="vm.status === 'success' && currentView === 'map'" [data]="vm.data"> </guests-map>

  <!-- ERROR -->
  <h1 *ngIf="vm.status === 'error'">
    {{ vm?.error?.message }}
  </h1>

  <!-- LOADING -->
  <h1 *ngIf="vm.status === 'loading'">Loading...</h1>

  <!-- EMPTY -->
  <div *ngIf="vm.status === 'success' && !vm.data.length">
    <h1>
      There are no guests yet, Create a new guest here

      <button [routerLink]="['/guests/add']" class="btn-add" mat-icon-button>
        <mat-icon fontIcon="add"></mat-icon>
      </button>
    </h1>
  </div>

  <!-- TABLE -->
  <guests-table
    *ngIf="vm.status === 'success' && currentView === 'table'"
    [data]="vm.data"
    [pagination]="vm.pagination"
    [offset]="vm.offset"
    (detail)="openDetail($event)"
    (edit)="editGuest($event)"
    (remove)="removeGuestConfirmation($event)"
    (whatsapp)="openWhatsapp($event)"
    (couchsurfing)="openCouchsurfing($event)"
    (detailGuest)="getDetailForShowingMore($event)"
    (sort)="onSortChange($event)"
    (page)="onPageChange($event)"
  >
  </guests-table>
</ng-container>
