<ng-container *ngIf="vm$ | async as vm">
  <div class="ctn–btn" *ngIf="vm.status === 'success' && vm.data.length">
    <button [routerLink]="['/couchsurfing/guests/add']" class="btn-add" mat-icon-button matTooltip="Create Guest">
      <mat-icon fontIcon="add" />
    </button>
  </div>

  <!-- ERROR -->
  <h1 *ngIf="vm.status === 'error'">
    {{ vm?.error?.message }}
  </h1>

  <!-- LOADING -->
  <h1 *ngIf="vm.status === 'loading'">Loading...</h1>

  <!-- EMPTY -->
  <div *ngIf="vm.status === 'success' && !vm.data.length">
    <h1>
      There are no guests yet, Create a new guest here

      <button [routerLink]="['/couchsurfing/guests/add']" class="btn-add" mat-icon-button>
        <mat-icon fontIcon="add" />
      </button>
    </h1>
  </div>

  <guests-table
    *ngIf="vm.status === 'success'"
    [data]="vm.data"
    [pagination]="vm.pagination"
    [offset]="vm.offset"
    (detail)="openDetail($event)"
    (edit)="editGuest($event)"
    (remove)="removeGuestConfirmation($event)"
    (whatsapp)="openWhatsapp($event)"
    (couchsurfing)="openCouchsurfing($event)"
    (sort)="onSortChange($event)"
    (page)="onPageChange($event)"
  >
  </guests-table>
</ng-container>
