<h1>guest form</h1>

<div class="ctn-form">
  <form #guestForm [formGroup]="formCreateGuest">
    <!-- FULL NAME -->
    <mat-form-field appearance="outline">
      <mat-label>Full Name</mat-label>

      <mat-icon class="material-symbols-outlined" matPrefix>person</mat-icon>

      <mat-icon class="material-symbols-outlined" class="icon-success" matSuffix *ngIf="isValid('fullName')">
        check_circle
      </mat-icon>

      <mat-icon class="material-symbols-outlined" class="icon-warning" matSuffix *ngIf="isInvalid('fullName')">
        error
      </mat-icon>

      <input matInput formControlName="fullName" #fullNameInput [errorStateMatcher]="instantErrorMatcher" />

      <mat-hint align="end">
        <span [class.danger]="f['fullName'].hasError('maxlength')">
          {{ fullNameInput.value.length }}
        </span>
        / {{ getMaxLength('fullName') }}
      </mat-hint>

      <mat-error *ngIf="f['fullName'].hasError('required')"> Full Name is required </mat-error>

      <mat-error *ngIf="f['fullName'].hasError('maxlength')"> Maximum 100 characters </mat-error>
    </mat-form-field>

    <!-- INSTAGRAM -->
    <mat-form-field appearance="outline">
      <mat-label>Instagram</mat-label>

      <mat-icon class="material-symbols-outlined" matPrefix>alternate_email</mat-icon>

      <mat-icon class="material-symbols-outlined" class="icon-success" matSuffix *ngIf="isValid('instagram')">
        check_circle
      </mat-icon>

      <mat-icon class="material-symbols-outlined" class="icon-warning" matSuffix *ngIf="isInvalid('instagram')">
        error
      </mat-icon>

      <input matInput formControlName="instagram" #instagramInput />

      <mat-hint align="end">
        <span [class.danger]="f['instagram'].hasError('maxlength')">
          {{ instagramInput.value.length }}
        </span>
        / {{ getMaxLength('instagram') }}
      </mat-hint>

      <mat-error *ngIf="f['instagram'].hasError('maxlength')"> Maximum 30 characters </mat-error>
    </mat-form-field>

    <!-- URL CS PROFILE -->
    <mat-form-field appearance="outline">
      <mat-label>CS Profile URL</mat-label>

      <mat-icon class="material-symbols-outlined" matPrefix>link</mat-icon>

      <mat-icon class="material-symbols-outlined" class="icon-success" matSuffix *ngIf="isValid('urlProfileCs')">
        check_circle
      </mat-icon>

      <mat-icon class="material-symbols-outlined" class="icon-warning" matSuffix *ngIf="isInvalid('urlProfileCs')">
        error
      </mat-icon>

      <input matInput formControlName="urlProfileCs" #urlProfileCsInput [errorStateMatcher]="instantErrorMatcher" />

      <mat-hint align="end">
        <span [class.danger]="f['urlProfileCs'].hasError('maxlength')">
          {{ urlProfileCsInput.value.length || 0 }}
        </span>
        / {{ getMaxLength('urlProfileCs') }}
      </mat-hint>

      <mat-error *ngIf="f['urlProfileCs'].hasError('required')"> Url Cs Profile is required </mat-error>

      <mat-error *ngIf="f['urlProfileCs'].hasError('maxlength')"> Maximum 50 characters </mat-error>
    </mat-form-field>

    <!-- BIRTH DATE -->
    <mat-form-field appearance="outline">
      <mat-label>Birth Date</mat-label>

      <mat-icon class="material-symbols-outlined" matPrefix>cake</mat-icon>

      <input
        matInput
        [matDatepicker]="birthPicker"
        formControlName="birthDate"
        [min]="minBirthDate"
        [max]="maxBirthDate"
      />

      <mat-datepicker-toggle matSuffix [for]="birthPicker"></mat-datepicker-toggle>
      <mat-datepicker #birthPicker></mat-datepicker>

      <!-- <mat-error *ngIf="f['birthDate'].hasError('required')"> Birth Date is required </mat-error> -->
    </mat-form-field>

    <!-- GENDER -->
    <section class="card-section">
      <h3>Gender</h3>

      <mat-radio-group formControlName="gender">
        <mat-radio-button value="male">Male</mat-radio-button>
        <mat-radio-button value="female">Female</mat-radio-button>
        <mat-radio-button value="trans">Trans</mat-radio-button>
      </mat-radio-group>

      <div class="error-msg" *ngIf="f['gender'].hasError('required') && f['gender'].touched">Gender is required</div>
    </section>

    <!-- HOMETOWN COUNTRY -->

    <mat-form-field appearance="outline">
      <mat-label>Hometown Country</mat-label>

      <mat-icon class="material-symbols-outlined" matPrefix>public</mat-icon>

      <mat-icon class="material-symbols-outlined" class="icon-success" matSuffix *ngIf="isValid('hometownCode')">
        check_circle
      </mat-icon>

      <mat-icon class="material-symbols-outlined" class="icon-warning" matSuffix *ngIf="isInvalid('hometownCode')">
        error
      </mat-icon>

      <input
        matInput
        formControlName="hometownCode"
        [matAutocomplete]="autoHometown"
        (input)="filterHometowns($event)"
      />

      <mat-autocomplete #autoHometown="matAutocomplete" [displayWith]="displayCountryCode">
        <mat-option *ngFor="let country of filteredCountries" [value]="country.countryCode">
          <span [class]="country.countryCode | flag"></span>
          {{ country.name }}
        </mat-option>
      </mat-autocomplete>

      <mat-error *ngIf="f['hometownCode'].hasError('required')"> Country is required </mat-error>
    </mat-form-field>

    <!-- HOMETOWN STATE -->
    <mat-form-field appearance="outline" *ngIf="f['hometownCode'].value" class="select-field">
      <mat-label>Hometown State</mat-label>

      <mat-icon class="material-symbols-outlined" matPrefix>map</mat-icon>

      <mat-select formControlName="hometownState">
        <mat-option *ngFor="let state of hometownStates" [value]="state">
          {{ state.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- HOMETOWN CITY -->
    <mat-form-field appearance="outline" *ngIf="f['hometownState'].value" class="select-field">
      <mat-label>Hometown City</mat-label>

      <mat-icon class="material-symbols-outlined" matPrefix>location_city</mat-icon>

      <mat-select formControlName="hometownCity">
        <mat-option *ngFor="let city of hometownCities" [value]="city">
          {{ city.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- LIVING COUNTRY -->
    <mat-form-field appearance="outline" class="country-field">
      <mat-label>Living In Country</mat-label>

      <mat-icon class="material-symbols-outlined" matPrefix>public</mat-icon>

      <mat-icon class="material-symbols-outlined" class="icon-success" matSuffix *ngIf="isValid('livingInCode')">
        check_circle
      </mat-icon>

      <mat-icon class="material-symbols-outlined" class="icon-warning" matSuffix *ngIf="isInvalid('livingInCode')">
        error
      </mat-icon>

      <input matInput formControlName="livingInCode" [matAutocomplete]="autoLiving" (input)="filterLiving($event)" />

      <mat-autocomplete #autoLiving="matAutocomplete" [displayWith]="displayCountryCode">
        <mat-option *ngFor="let country of filteredLiving" [value]="country.countryCode">
          <span [class]="country.countryCode | flag"></span>
          {{ country.name }}
        </mat-option>
      </mat-autocomplete>

      <mat-error *ngIf="f['livingInCode'].hasError('required')"> Country is required </mat-error>
    </mat-form-field>

    <!-- Living In Stated -->
    <mat-form-field appearance="outline" *ngIf="f['livingInCode'].value" class="select-field">
      <mat-label>Living In State</mat-label>

      <mat-icon class="material-symbols-outlined" matPrefix>public</mat-icon>

      <mat-select formControlName="livingInState">
        <mat-option *ngFor="let state of livingInStates" [value]="state">
          {{ state.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Living In city -->
    <mat-form-field appearance="outline" *ngIf="f['livingInState'].value" class="select-field">
      <mat-label>Living In City</mat-label>

      <mat-icon class="material-symbols-outlined" matPrefix>location_city</mat-icon>

      <mat-select formControlName="livingInCity">
        <mat-option *ngFor="let city of livingInCities" [value]="city">
          {{ city.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- PREFIX -->
    <div class="phone-row">
      <!-- PREFIX -->
      <mat-form-field appearance="outline" class="prefix-field select-field">
        <mat-label>Prefix</mat-label>

        <mat-icon class="material-symbols-outlined" matPrefix>dialpad</mat-icon>

        <mat-select formControlName="prefixCode">
          <mat-option *ngFor="let country of countries" [value]="country.prefix">
            <span [class]="country.countryCode | flag"></span>
            {{ country.prefix }}
          </mat-option>
        </mat-select>

        <mat-error *ngIf="f['prefixCode'].hasError('required')"> Prefix is required </mat-error>
      </mat-form-field>

      <!-- WHATSAPP -->
      <mat-form-field appearance="outline" class="phone-field">
        <mat-label>Whatsapp</mat-label>

        <mat-icon class="material-symbols-outlined" matPrefix>phone</mat-icon>

        <mat-icon class="material-symbols-outlined" class="icon-success" matSuffix *ngIf="isValid('whatsapp')">
          check_circle
        </mat-icon>

        <mat-icon class="material-symbols-outlined" class="icon-warning" matSuffix *ngIf="isInvalid('whatsapp')">
          error
        </mat-icon>

        <input type="tel" matInput formControlName="whatsapp" maxlength="16" />

        <mat-error *ngIf="f['whatsapp'].hasError('required')"> Whatsapp is required </mat-error>

        <mat-error *ngIf="f['whatsapp'].hasError('pattern')"> Invalid phone number </mat-error>

        <mat-error *ngIf="f['whatsapp'].hasError('maxlength')"> Maximum 16 characters </mat-error>
      </mat-form-field>
    </div>

    <!-- OCCUPATION AREA -->
    <mat-form-field appearance="outline" class="select-field">
      <mat-label>Occupation Area</mat-label>

      <mat-icon class="material-symbols-outlined" matPrefix>work</mat-icon>

      <mat-icon
        class="material-symbols-outlined"
        class="icon-success"
        matSuffix
        *ngIf="isValid('occupationArea') && f['occupationArea'].value?.length"
      >
        check_circle
      </mat-icon>

      <mat-icon class="material-symbols-outlined" class="icon-warning" matSuffix *ngIf="isInvalid('occupationArea')">
        error
      </mat-icon>

      <mat-select formControlName="occupationArea" multiple>
        <mat-option *ngFor="let area of occupationAreas" [value]="area">
          {{ area }}
        </mat-option>
      </mat-select>

      <mat-error *ngIf="f['occupationArea'].hasError('required')"> Occupation Area is required </mat-error>
    </mat-form-field>

    <!-- OCCUPATION -->
    <mat-form-field appearance="outline" *ngIf="occupations.length > 0" class="select-field">
      <mat-label>Occupation(s)</mat-label>

      <mat-icon class="material-symbols-outlined" matPrefix>badge</mat-icon>

      <mat-select formControlName="occupation" multiple>
        <mat-option *ngFor="let occupation of occupations" [value]="occupation">
          {{ occupation }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- OTHER OCCUPATION -->
    <mat-form-field
      appearance="outline"
      *ngIf="f['occupation'].value?.includes('Write another occupation')"
      class="select-field"
    >
      <mat-label>Write your occupation</mat-label>

      <mat-icon class="material-symbols-outlined" matPrefix>edit</mat-icon>

      <input matInput formControlName="otherOccupation" placeholder="Enter your occupation" maxlength="100" />
    </mat-form-field>

    <!-- CHECKBOXES -->
    <section class="card-section checkbox-group">
      <!-- FIRST TIME -->
      <mat-checkbox formControlName="isFirstTime">First Time</mat-checkbox>

      <!-- REQUEST -->
      <mat-checkbox formControlName="didTheyReq">Did they request a stay?</mat-checkbox>

      <!-- HANG OUT -->
      <mat-checkbox formControlName="hangOut">Hang Out</mat-checkbox>

      <!-- GAY -->
      <mat-checkbox formControlName="isGay">Gay</mat-checkbox>
    </section>

    <!-- AMBASSADOR -->
    <mat-checkbox formControlName="ambassador">Ambassador</mat-checkbox>

    <!-- RATING -->
    <section class="rating rating full-row">
      <div class="rating-content">
        <div class="rating-stars">
          <mat-icon
            class="material-symbols-outlined"
            *ngFor="let star of stars"
            class="star material-symbols-outlined"
            [class.active]="star <= (hoverRating || f['rating'].value)"
            (mouseenter)="hoverRating = star"
            (mouseleave)="hoverRating = 0"
            (click)="starsRating(star)"
          >
            star
          </mat-icon>
        </div>
      </div>

      <div class="rating-msg">
        {{ getRatingMsg() }}
      </div>
    </section>

    <!-- GIFTS -->
    <div class="gift-row full-row">
      <mat-form-field class="example-chip-list full-row">
        <mat-label>Gifts</mat-label>

        <mat-chip-grid #chipGrid>
          <mat-chip-row
            *ngFor="let gift of gifts"
            [editable]="true"
            (removed)="removeGift(gift)"
            (edited)="editGift(gift, $event)"
          >
            {{ gift.name }}

            <button matChipRemove>
              <mat-icon class="material-symbols-outlined">cancel</mat-icon>
            </button>
          </mat-chip-row>

          <input
            #giftInput
            [matChipInputFor]="chipGrid"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="addGift($event)"
          />
        </mat-chip-grid>

        <mat-hint align="end"> {{ gifts.length }}/15 gifts </mat-hint>
      </mat-form-field>
      <button type="button" mat-stroked-button class="btn-clear-gifts" (click)="clearGiftInput()">
        <mat-icon class="material-symbols-outlined">delete</mat-icon>
        Clear
      </button>
    </div>

    <!-- THEIR REFERENCE -->
    <mat-form-field appearance="outline" class="full-row">
      <mat-label>Their Reference</mat-label>

      <mat-icon class="material-symbols-outlined" matPrefix>comment</mat-icon>

      <textarea
        class="full-row"
        matInput
        formControlName="theirReference"
        #theirReferenceInput
        [errorStateMatcher]="instantErrorMatcher"
      >
      </textarea>

      <mat-hint align="end">
        <span [class.danger]="f['theirReference'].hasError('maxlength')">
          {{ theirReferenceInput.value.length }}
        </span>
        / {{ getMaxLength('theirReference') }}
      </mat-hint>

      <mat-error *ngIf="f['theirReference'].hasError('maxlength')"> Maximum 500 characters </mat-error>
    </mat-form-field>

    <!-- MY REFERENCE -->
    <mat-form-field appearance="outline" class="full-row">
      <mat-label>my Reference</mat-label>

      <mat-icon class="material-symbols-outlined" matPrefix>comment</mat-icon>

      <textarea
        class="full-row"
        matInput
        formControlName="myReference"
        #myReferenceInput
        [errorStateMatcher]="instantErrorMatcher"
      >
      </textarea>

      <mat-hint align="end">
        <span [class.danger]="f['myReference'].hasError('maxlength')">
          {{ myReferenceInput.value.length }}
        </span>
        / {{ getMaxLength('myReference') }}
      </mat-hint>

      <mat-error *ngIf="f['myReference'].hasError('maxlength')"> Maximum 500 characters </mat-error>
    </mat-form-field>

    <!-- COMMENTS -->
    <mat-form-field appearance="outline" class="full-row">
      <mat-label>Leave a comment</mat-label>

      <mat-icon class="material-symbols-outlined" matPrefix>comment</mat-icon>

      <textarea
        class="full-row"
        matInput
        formControlName="comments"
        #commentsInput
        [errorStateMatcher]="instantErrorMatcher"
      >
      </textarea>

      <mat-hint align="end">
        <span [class.danger]="f['comments'].hasError('maxlength')">
          {{ commentsInput.value.length }}
        </span>
        / {{ getMaxLength('comments') }}
      </mat-hint>

      <mat-error *ngIf="f['comments'].hasError('maxlength')"> Maximum 500 characters </mat-error>
    </mat-form-field>
  </form>
</div>
