<div class="geography-charts">
  <!-- Geography views -->
  <div class="ctn-buttons">
    <button
      type="button"
      *ngFor="let view of geographyViews"
      (click)="selectView(view)"
      [class.active]="selectedView === view"
      class="btn-geography"
    >
      {{ view }}
    </button>
  </div>

  <!-- Ranking views -->
  <div class="ctn-ranking-buttons">
    <button
      type="button"
      *ngFor="let ranking of rankingViews"
      (click)="selectRanking(ranking)"
      [class.active]="selectedRanking === ranking"
      [disabled]="(selectedView === 'livingIn' || selectedView === 'hometown') && ranking === 'bottom'"
      class="btn-ranking"
    >
      {{ ranking === 'all' ? 'All' : ranking === 'top' ? 'Top' : 'Bottom' }}
    </button>
  </div>

  <!-- Geography chart -->
  <div class="geography-chart-row">
    <div class="geography-chart-ctn">
      <canvas #geographyChart></canvas>
    </div>
    <!-- Country labels with flags -->
    <div *ngIf="selectedView === 'countries'" class="country-labels" [class.ranking-labels]="selectedRanking !== 'all'">
      <div *ngFor="let country of getSelectedCountries()" class="country-label">
        <span [class]="country.code | flag"></span>
      </div>
    </div>
  </div>
</div>
