<header id="menu-flex" class="menu-flex">
  <nav class="menu">
    <div class="logo-menu">
      <a [routerLink]="['guests']" title="CouchSurfing">
        <span class="title-logo-menu">CouchSurfing</span>
      </a>

      <a href="javascript:void(0);" id="btn-menu" class="btn-menu">
        <mat-icon aria-hidden="false" aria-label="menu icon" fontIcon="menu"></mat-icon>
      </a>
    </div>

    <div id="links" class="links">
      <!-- GUESTS -->
      <a [routerLink]="['guests']" routerLinkActive="links-menu-active" class="links-menu">
        <mat-icon aria-hidden="false" aria-label="guests icon" fontIcon="diversity_1"></mat-icon>
        Guests
      </a>

      <!-- HOSTED -->
      <a [routerLink]="['hosted']" routerLinkActive="links-menu-active" class="links-menu">
        <mat-icon aria-hidden="false" aria-label="hosted icon" fontIcon="home"></mat-icon>
        Hosted
      </a>

      <!-- PERSONAL -->
      <a [routerLink]="['personal']" routerLinkActive="links-menu-active" class="links-menu">
        <mat-icon aria-hidden="false" aria-label="personal icon" fontIcon="person"></mat-icon>
        Personal
      </a>
    </div>
  </nav>
</header>
