<main class="main">
  <h1>Guest Details</h1>

  <!-- LOADING -->
  <div *ngIf="status === 'loading'">
    <p>Loading guest...</p>
  </div>

  <!-- ERROR -->
  <div *ngIf="status === 'error'">
    {{ error?.message }}
  </div>

  <!-- SUCCESS -->
  <ng-container *ngIf="status === 'success'">
    <!-- SOLO -->
    <ng-container *ngIf="guest">
      <h2>
        <mat-icon [fontIcon]="guest.gender === 'male' ? 'male' : 'female'"></mat-icon>
        {{ guest.fullName }}
      </h2>

      <h3>TRIP</h3>

      <ul>
        <li><strong>Visited Date:</strong> {{ guest.visitedDate }}</li>
        <li><strong>Nights:</strong> {{ guest.nights }}</li>
        <li><strong>Stayed:</strong> {{ guest.stayed ? 'Yes' : 'No' }}</li>
        <li><strong>Hang Out:</strong> {{ guest.hangOut ? 'Yes' : 'No' }}</li>
        <li><strong>First Time:</strong> {{ guest.isFirstTime ? 'Yes' : 'No' }}</li>
        <li><strong>Group Type:</strong> {{ guest.groupType | titlecase }}</li>
      </ul>

      <h3>PERSONAL INFORMATION</h3>

      <ul>
        <li><strong>Full Name:</strong> {{ guest.fullName }}</li>
        <li><strong>Gender:</strong> {{ guest.gender | titlecase }}</li>
        <li><strong>Birth Date:</strong> {{ guest.birthDate }}</li>
        <li><strong>WhatsApp:</strong> {{ guest.prefixCode }} {{ guest.whatsapp }}</li>
        <li><strong>Instagram:</strong> {{ guest.instagram || '-' }}</li>
        <li><strong>Couchsurfing:</strong> {{ guest.urlProfileCs || '-' }}</li>
        <li><strong>Gay:</strong> {{ guest.isGay ? 'Yes' : 'No' }}</li>
      </ul>

      <h3>LOCATION</h3>

      <ul>
        <li><strong>Continent:</strong>{{ guest.continent | titlecase }}</li>
        <li><strong>Region:</strong>{{ guest.region }}</li>
        <li><strong>Hometown:</strong><span [class]="guest.hometownCode | flag"></span>{{ guest.hometown }}</li>
        <li><strong>Living In:</strong><span [class]="guest.livingInCode | flag"></span>{{ guest.livingIn }}</li>
      </ul>

      <h3>OCCUPATION</h3>

      <ul>
        <li *ngFor="let occupation of guest.occupation">{{ occupation }}</li>
      </ul>

      <h3>RATING</h3>

      <div class="ctn-stars">
        <mat-icon
          *ngFor="let s of [1, 2, 3, 4, 5]; let idx = index"
          [class.filled]="idx < guest.rating"
          fontIcon="star"
        >
        </mat-icon>
      </div>

      <h3>GIFT</h3>

      <ul>
        <li *ngFor="let gift of guest.gift">{{ gift }}</li>
      </ul>

      <h3>COMMENTS</h3>

      <p>{{ guest.comments || '-' }}</p>

      <h3>REFERENCES</h3>

      <p><strong>Their Reference:</strong>{{ guest.theirReference || '-' }}</p>

      <p><strong>My Reference:</strong>{{ guest.myReference || '-' }}</p>
    </ng-container>

    <!-- GROUP -->
    <ng-container *ngIf="group">
      <ng-container *ngIf="group">
        <h2>Group Details</h2>

        <!-- TRIP -->
        <h3>TRIP</h3>

        <ul>
          <li><strong>Visited Date:</strong>{{ group[0].visitedDate }}</li>
          <li><strong>Nights:</strong>{{ group[0].nights }}</li>
          <li><strong>Stayed:</strong>{{ group[0].stayed ? 'Yes' : 'No' }}</li>
          <li><strong>Group Type:</strong>{{ group[0].groupType | titlecase }}</li>
        </ul>

        <!-- MEMBERS -->

        <h3>MEMBERS ({{ group.length }})</h3>

        <section *ngFor="let member of group">
          <h2><mat-icon [fontIcon]="member.gender === 'male' ? 'male' : 'female'"></mat-icon>{{ member.fullName }}</h2>

          <h4>PERSONAL INFORMATION</h4>

          <ul>
            <li><strong>Full Name:</strong> {{ member.fullName }}</li>
            <li><strong>Gender:</strong> {{ member.gender | titlecase }}</li>
            <li><strong>Birth Date:</strong>{{ member.birthDate }}</li>
            <li><strong>WhatsApp:</strong>{{ member.prefixCode }}{{ member.whatsapp }}</li>
            <li><strong>Instagram:</strong>{{ member.instagram || '-' }}</li>
            <li><strong>Couchsurfing:</strong> {{ member.urlProfileCs || '-' }}</li>
            <li><strong>Gay:</strong> {{ member.isGay ? 'Yes' : 'No' }}</li>
          </ul>

          <h4>LOCATION</h4>

          <ul>
            <li><strong>Continent:</strong>{{ member.continent | titlecase }}</li>
            <li><strong>Region:</strong>{{ member.region }}</li>
            <li><strong>Hometown:</strong><span [class]="member.hometownCode | flag"></span>{{ member.hometown }}</li>
            <li><strong>Living In:</strong><span [class]="member.livingInCode | flag"></span>{{ member.livingIn }}</li>
          </ul>

          <h3>OCCUPATION</h3>

          <ul>
            <li *ngFor="let occupation of member.occupation">{{ occupation }}</li>
          </ul>

          <h4>RATING</h4>

          <div class="ctn-stars">
            <mat-icon
              *ngFor="let s of [1, 2, 3, 4, 5]; let idx = index"
              [class.filled]="idx < member.rating"
              fontIcon="star"
            >
            </mat-icon>
          </div>

          <h3>GIFT</h3>

          <ul>
            <li *ngFor="let gift of member.gift">{{ gift }}</li>
          </ul>

          <h3>COMMENTS</h3>

          <p>{{ member.comments || '-' }}</p>

          <h3>REFERENCES</h3>

          <p><strong>Their Reference:</strong>{{ member.theirReference || '-' }}</p>

          <p><strong>My Reference:</strong>{{ member.myReference || '-' }}</p>
        </section>
      </ng-container>
    </ng-container>
  </ng-container>
</main>
