<main class="main">
  <h1>Guest Details</h1>

  <!-- LOADING -->
  <div *ngIf="status === 'loading'">
    <p>Loading guest...</p>
  </div>

  <!-- ERROR -->
  <div *ngIf="status === 'error'">
    {{ error?.message }}
  </div>

  <!-- SUCCESS -->
  <ng-container *ngIf="status === 'success'">
    <!-- SOLO -->
    <ng-container *ngIf="guest">
      <!-- GUEST NAME -->
      <h2 *ngIf="guest.fullName">
        <mat-icon [fontIcon]="guest.gender === 'male' ? 'male' : 'female'"></mat-icon>
        {{ guest.fullName }}
        <mat-icon *ngIf="guest.ambassador" matTooltip="Ambassador">badge</mat-icon>
      </h2>

      <!-- TRIP -->
      <ng-container
        *ngIf="
          guest.visitedDate ||
          (guest.nights !== null && guest.nights !== undefined) ||
          (guest.stayed !== null && guest.stayed !== undefined) ||
          (guest.hangOut !== null && guest.hangOut !== undefined) ||
          (guest.isFirstTime !== null && guest.isFirstTime !== undefined) ||
          guest.groupType
        "
      >
        <h3>TRIP</h3>
        <ul>
          <li *ngIf="guest.visitedDate">
            <strong>Visited Date: </strong>{{ guest.visitedDate | date: 'yyyy MMMM d' }}
          </li>
          <li *ngIf="guest.nights !== null && guest.nights !== undefined">
            <strong>Nights: </strong>{{ guest.nights }}
          </li>
          <li *ngIf="guest.stayed !== null && guest.stayed !== undefined">
            <strong>Stayed: </strong>
            <mat-icon
              [fontIcon]="guest.stayed ? 'check' : 'close'"
              [class.success]="guest.stayed"
              [class.danger]="!guest.stayed"
            ></mat-icon>
          </li>
          <li *ngIf="guest.hangOut !== null && guest.hangOut !== undefined">
            <strong>Hang Out: </strong>
            <mat-icon
              [fontIcon]="guest.hangOut ? 'check' : 'close'"
              [class.success]="guest.hangOut"
              [class.danger]="!guest.hangOut"
            ></mat-icon>
          </li>
          <li *ngIf="guest.isFirstTime !== null && guest.isFirstTime !== undefined">
            <strong>First Time: </strong>
            <mat-icon
              [fontIcon]="guest.isFirstTime ? 'check' : 'close'"
              [class.success]="guest.isFirstTime"
              [class.danger]="!guest.isFirstTime"
            ></mat-icon>
          </li>
          <li *ngIf="guest.groupType">
            <strong>Group Type: </strong>
            <span class="gap-icons">
              <mat-icon
                [fontIcon]="
                  guest.groupType === 'solo'
                    ? 'person'
                    : guest.groupType === 'couple'
                      ? 'favorite'
                      : guest.groupType === 'friends'
                        ? 'groups'
                        : 'family_restroom'
                "
              ></mat-icon
              >{{ guest.groupType | titlecase }}
            </span>
          </li>
        </ul>
      </ng-container>

      <!-- PERSONAL INFORMATION -->
      <ng-container
        *ngIf="
          guest.fullName ||
          guest.gender ||
          guest.birthDate ||
          guest.prefixCode ||
          guest.whatsapp ||
          guest.instagram ||
          guest.urlProfileCs ||
          (guest.isGay !== null && guest.isGay !== undefined)
        "
      >
        <h3>PERSONAL INFORMATION</h3>

        <ul>
          <li *ngIf="guest.fullName">
            <strong>Full Name:</strong>
            {{ guest.fullName }}
          </li>

          <li *ngIf="guest.gender">
            <strong>Gender:</strong>
            <i
              [class]="
                guest.gender === 'male' ? 'fa-solid fa-person gender-male' : 'fa-solid fa-person-dress gender-female'
              "
            ></i>
            {{ guest.gender | titlecase }}
          </li>

          <li *ngIf="guest.birthDate">
            <strong>Birth Date:</strong>
            {{ guest.birthDate | date: 'yyyy MMMM d' }}
          </li>

          <li *ngIf="guest.whatsapp">
            <strong>WhatsApp:</strong>
            {{ guest.prefixCode }} {{ guest.whatsapp }}
          </li>

          <li *ngIf="guest.instagram">
            <strong>Instagram:</strong>
            <button
              mat-icon-button
              class="btn-instagram"
              matTooltip="View Instagram profile"
              (click)="openInstagram(guest.instagram)"
            >
              <i class="fa-brands fa-instagram"></i>
            </button>
          </li>

          <li *ngIf="guest.urlProfileCs">
            <strong>Couchsurfing:</strong>
            <button
              mat-icon-button
              class="btn-cs"
              matTooltip="View Couchsurfing profile"
              (click)="openCouchsurfing(guest.urlProfileCs)"
            >
              <mat-icon fontIcon="chair"></mat-icon>
            </button>
          </li>

          <li *ngIf="guest.isGay !== null && guest.isGay !== undefined">
            <strong>Gay:</strong>
            <mat-icon
              [fontIcon]="guest.isGay ? 'check' : 'close'"
              [class.success]="guest.isGay"
              [class.danger]="!guest.isGay"
            ></mat-icon>
          </li>

          <li *ngIf="guest.didTheyReq !== null && guest.didTheyReq !== undefined">
            <ng-container *ngIf="guest.didTheyReq; else requestSent">
              <strong>Did they request a stay?</strong>
              <mat-icon fontIcon="check" class="success"></mat-icon>
            </ng-container>

            <ng-template #requestSent>
              <strong>I sent the request</strong>
            </ng-template>
          </li>
        </ul>
      </ng-container>

      <!-- LOCATION -->
      <ng-container
        *ngIf="
          guest.continent ||
          guest.region ||
          guest.hometownCode ||
          guest.hometown ||
          guest.livingInCode ||
          guest.livingIn
        "
      >
        <h3>LOCATION</h3>

        <ul>
          <li *ngIf="guest.continent">
            <strong>Continent:</strong>
            {{ guest.continent | titlecase }}
          </li>

          <li *ngIf="guest.region">
            <strong>Region:</strong>
            {{ formatRegion(guest.region) | titlecase }}
          </li>

          <li *ngIf="guest.hometownCode || guest.hometown">
            <strong>Hometown:</strong>
            <span class="gap-icons">
              <span *ngIf="guest.hometownCode" [class]="guest.hometownCode | flag"></span> {{ guest.hometown }}
            </span>
          </li>

          <li *ngIf="guest.livingInCode || guest.livingIn">
            <strong>Living In:</strong>
            <span class="gap-icons">
              <span *ngIf="guest.livingInCode" [class]="guest.livingInCode | flag"></span> {{ guest.livingIn }}
            </span>
          </li>
        </ul>
      </ng-container>

      <!-- OCCUPATION -->
      <ng-container *ngIf="guest.occupation?.length">
        <h3>OCCUPATION</h3>

        <ul>
          <li *ngFor="let occupation of guest.occupation">
            {{ occupation }}
          </li>
        </ul>
      </ng-container>

      <!-- RATING -->
      <ng-container *ngIf="guest.rating !== null && guest.rating !== undefined">
        <h3>RATING</h3>

        <div class="ctn-stars">
          <mat-icon
            *ngFor="let s of [1, 2, 3, 4, 5]; let idx = index"
            [class.filled]="idx < guest.rating"
            fontIcon="star"
          ></mat-icon>
        </div>
      </ng-container>

      <!-- GIFT -->
      <ng-container *ngIf="guest.gift?.length">
        <h3>GIFT</h3>

        <ul>
          <li *ngFor="let gift of guest.gift">
            {{ gift }}
          </li>
        </ul>
      </ng-container>

      <!-- COMMENTS -->
      <ng-container *ngIf="guest.comments">
        <h3>COMMENTS</h3>

        <p>{{ guest.comments }}</p>
      </ng-container>

      <!-- REFERENCES -->
      <ng-container *ngIf="guest.theirReference || guest.myReference">
        <h3>REFERENCES</h3>

        <p *ngIf="guest.theirReference"><strong>Their Reference:</strong>{{ guest.theirReference }}</p>

        <p *ngIf="guest.myReference"><strong>My Reference:</strong>{{ guest.myReference }}</p>
      </ng-container>
    </ng-container>

    <!-- GROUP -->
    <ng-container *ngIf="group">
      <!-- GROUP DETAILS -->
      <h2>Group Details</h2>

      <!-- GROUP TRIP -->
      <ng-container
        *ngIf="
          group[0].visitedDate ||
          (group[0].nights !== null && group[0].nights !== undefined) ||
          (group[0].stayed !== null && group[0].stayed !== undefined) ||
          group[0].groupType
        "
      >
        <h3>TRIP</h3>

        <ul>
          <li *ngIf="group[0].visitedDate">
            <strong>Visited Date:</strong>
            {{ group[0].visitedDate | date: 'yyyy MMMM d' }}
          </li>

          <li *ngIf="group[0].nights !== null && group[0].nights !== undefined">
            <strong>Nights:</strong>
            {{ group[0].nights }}
          </li>

          <li *ngIf="group[0].stayed !== null && group[0].stayed !== undefined">
            <strong>Stayed:</strong>
            <mat-icon
              [fontIcon]="group[0].stayed ? 'check' : 'close'"
              [class.success]="group[0].stayed"
              [class.danger]="!group[0].stayed"
            ></mat-icon>
          </li>

          <li *ngIf="group[0].groupType">
            <strong>Group Type:</strong>
            <span class="gap-icons">
              <mat-icon
                [fontIcon]="
                  group[0].groupType === 'solo'
                    ? 'person'
                    : group[0].groupType === 'couple'
                      ? 'favorite'
                      : group[0].groupType === 'friends'
                        ? 'groups'
                        : 'family_restroom'
                "
              ></mat-icon>
              {{ group[0].groupType | titlecase }}
            </span>
          </li>
        </ul>
      </ng-container>

      <!-- MEMBERS -->
      <h3 *ngIf="group.length">MEMBERS ({{ group.length }})</h3>

      <!-- MEMBER -->
      <section *ngFor="let member of group">
        <!-- MEMBER NAME -->
        <h2 *ngIf="member.fullName">
          <mat-icon [fontIcon]="member.gender === 'male' ? 'male' : 'female'"></mat-icon>
          {{ member.fullName }}
          <mat-icon *ngIf="member.ambassador" matTooltip="Ambassador">badge</mat-icon>
        </h2>

        <!-- PERSONAL INFORMATION -->
        <ng-container
          *ngIf="
            member.fullName ||
            member.gender ||
            member.birthDate ||
            member.prefixCode ||
            member.whatsapp ||
            member.instagram ||
            member.urlProfileCs ||
            (member.isGay !== null && member.isGay !== undefined)
          "
        >
          <h4>PERSONAL INFORMATION</h4>

          <ul>
            <li *ngIf="member.fullName">
              <strong>Full Name:</strong>
              {{ member.fullName }}
            </li>

            <li *ngIf="member.gender">
              <strong>Gender:</strong>
              <i
                [class]="
                  member.gender === 'male' ? 'fa-solid fa-person gender-male' : 'fa-solid fa-person-dress gender-female'
                "
              ></i
              >{{ member.gender | titlecase }}
            </li>

            <li *ngIf="member.birthDate">
              <strong>Birth Date:</strong>
              {{ member.birthDate | date: 'yyyy MMMM d' }}
            </li>

            <li *ngIf="member.whatsapp">
              <strong>WhatsApp:</strong>
              {{ member.prefixCode }} {{ member.whatsapp }}
            </li>

            <li *ngIf="member.instagram">
              <strong>Instagram:</strong>
              <button
                mat-icon-button
                class="btn-instagram"
                matTooltip="View Instagram profile"
                (click)="openInstagram(member.instagram)"
              >
                <i class="fa-brands fa-instagram"></i>
              </button>
            </li>

            <li *ngIf="member.urlProfileCs">
              <strong>Couchsurfing:</strong>
              <button
                mat-icon-button
                class="btn-cs"
                matTooltip="View Couchsurfing profile"
                (click)="openCouchsurfing(member.urlProfileCs)"
              >
                <mat-icon fontIcon="chair"></mat-icon>
              </button>
            </li>

            <li *ngIf="member.isGay !== null && member.isGay !== undefined">
              <strong>Gay:</strong>
              <mat-icon
                [fontIcon]="member.isGay ? 'check' : 'close'"
                [class.success]="member.isGay"
                [class.danger]="!member.isGay"
              ></mat-icon>
            </li>

            <li *ngIf="member.didTheyReq !== null && member.didTheyReq !== undefined">
              <ng-container *ngIf="member.didTheyReq; else memberRequestSent">
                <strong>Did they request a stay?</strong>
                <mat-icon fontIcon="check" class="success"></mat-icon>
              </ng-container>

              <ng-template #memberRequestSent>
                <strong>I sent the request</strong>
              </ng-template>
            </li>
          </ul>
        </ng-container>

        <!-- LOCATION -->
        <ng-container
          *ngIf="
            member.continent ||
            member.region ||
            member.hometownCode ||
            member.hometown ||
            member.livingInCode ||
            member.livingIn
          "
        >
          <h4>LOCATION</h4>

          <ul>
            <li *ngIf="member.continent">
              <strong>Continent:</strong>
              {{ member.continent | titlecase }}
            </li>

            <li *ngIf="member.region">
              <strong>Region:</strong>
              {{ formatRegion(member.region) | titlecase }}
            </li>

            <li *ngIf="member.hometownCode || member.hometown">
              <strong>Hometown:</strong>
              <span class="gap-icons">
                <span *ngIf="member.hometownCode" [class]="member.hometownCode | flag"></span> {{ member.hometown }}
              </span>
            </li>

            <li *ngIf="member.livingInCode || member.livingIn">
              <strong>Living In:</strong>
              <span class="gap-icons">
                <span *ngIf="member.livingInCode" [class]="member.livingInCode | flag"></span> {{ member.livingIn }}
              </span>
            </li>
          </ul>
        </ng-container>

        <!-- OCCUPATION -->
        <ng-container *ngIf="member.occupation?.length">
          <h4>OCCUPATION</h4>

          <ul>
            <li *ngFor="let occupation of member.occupation">
              {{ occupation }}
            </li>
          </ul>
        </ng-container>

        <!-- RATING -->
        <ng-container *ngIf="member.rating !== null && member.rating !== undefined">
          <h4>RATING</h4>

          <div class="ctn-stars">
            <mat-icon
              *ngFor="let s of [1, 2, 3, 4, 5]; let idx = index"
              [class.filled]="idx < member.rating"
              fontIcon="star"
            ></mat-icon>
          </div>
        </ng-container>

        <!-- GIFT -->
        <ng-container *ngIf="member.gift?.length">
          <h4>GIFT</h4>

          <ul>
            <li *ngFor="let gift of member.gift">
              {{ gift }}
            </li>
          </ul>
        </ng-container>

        <!-- COMMENTS -->
        <ng-container *ngIf="member.comments">
          <h4>COMMENTS</h4>

          <p>{{ member.comments }}</p>
        </ng-container>

        <!-- REFERENCES -->
        <ng-container *ngIf="member.theirReference || member.myReference">
          <h4>REFERENCES</h4>

          <p *ngIf="member.theirReference">
            <strong>Their Reference:</strong>
            {{ member.theirReference }}
          </p>

          <p *ngIf="member.myReference">
            <strong>My Reference:</strong>
            {{ member.myReference }}
          </p>
        </ng-container>
      </section>
    </ng-container>
  </ng-container>
</main>
