.main {
  margin-top: 9rem;
  text-align: center;
}

.ctn-stars {
  color: goldenrod;
  display: flex;
  justify-content: center;
  gap: 0 0.25rem;

  & > mat-icon {
    color: transparent;
    -webkit-text-stroke: 0.1mm #000000;
    -webkit-text-fill-color: #000;
    opacity: 0.2;
    transition: -webkit-text-fill-color 0.3s ease-in-out;

    &.filled {
      opacity: 1;
      -webkit-text-fill-color: #000;
    }
  }
}

.fa-person,
.fa-person-dress {
  font-size: 20px;
  margin-right: 6px;
}

.gender-male {
  color: #2196f3;
}

.gender-female {
  color: #e91e63;
}

.btn-cs {
  padding: 0;
  width: 1.5rem;
  height: 1.5rem;
  color: #000000;
  background-color: #ff7043;

  & > mat-icon {
    line-height: 1.5rem;
    font-size: 1rem;
  }
}

.btn-instagram {
  padding: 0;
  width: 1.5rem;
  height: 1.5rem;
  color: #ffffff;
  background-color: #fa006f;

  & > mat-icon {
    line-height: 1.5rem;
    font-size: 0.9rem;
  }
}

.gap-icons {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  margin-left: 6px;
}
