<div class="ranking-charts">
  <!-- Ranking views -->
  <div class="ctn-buttons">
    <button
      type="button"
      *ngFor="let view of rankingViews"
      (click)="selectView(view)"
      [class.active]="selectedView === view"
      class="btn-ranking"
    >
      {{ view }}
    </button>
  </div>

  <!-- Men ranking views -->
  <div class="ctn-buttons group-buttons" *ngIf="selectedView === 'men'">
    <button
      type="button"
      *ngFor="let view of menRankingViews"
      (click)="selectMenView(view)"
      [class.active]="selectedMenView === view"
      class="btn-ranking"
    >
      {{ view }}
    </button>
  </div>

  <!-- Group ranking views -->
  <div class="ctn-buttons group-buttons" *ngIf="selectedView === 'groups'">
    <button
      type="button"
      *ngFor="let view of groupRankingViews"
      (click)="selectGroupView(view)"
      [class.active]="selectedGroupView === view"
      class="btn-ranking"
    >
      {{ view }}
    </button>
  </div>

  <!-- Ranking chart -->
  <div class="ranking-chart-row">
    <div class="ranking-chart-ctn">
      <canvas #rankingChart></canvas>
    </div>
  </div>
</div>
