<div class="rating-charts">
  <!-- Main Rating views -->
  <div class="ctn-buttons">
    <button
      type="button"
      *ngFor="let view of ratingMainViews"
      (click)="selectMainView(view)"
      [class.active]="selectedMainView === view"
      class="btn-rating"
    >
      {{ ratingMainViewLabels[view] }}
    </button>
  </div>

  <!-- Rating group views -->
  <div class="ctn-buttons">
    <button
      type="button"
      *ngFor="let view of ratingViews"
      (click)="selectView(view)"
      [class.active]="selectedView === view"
      class="btn-rating"
    >
      {{ view }}
    </button>
  </div>

  <!-- Chart + type buttons -->
  <div class="chart-row">
    <!-- Rating chart -->
    <div class="rating-charts-ctn">
      <canvas #ratingsChart></canvas>
    </div>

    <!-- Distribution chart type buttons -->
    <div class="ctn-chart-types" *ngIf="selectedMainView === 'distribution'">
      <!-- Bar chart -->
      <button
        mat-icon-button
        class="btn-type-chart"
        type="button"
        (click)="selectChartType('bar')"
        [class.active]="selectedChart === 'bar'"
      >
        <mat-icon class="material-symbols-outlined">bar_chart</mat-icon>
      </button>

      <!-- Doughnut chart -->
      <button
        mat-icon-button
        class="btn-type-chart"
        type="button"
        (click)="selectChartType('doughnut')"
        [class.active]="selectedChart === 'doughnut'"
      >
        <mat-icon class="material-symbols-outlined">pie_chart</mat-icon>
      </button>
    </div>
  </div>
</div>
