.title-stats {
  margin-top: 5rem;
  text-align: center;
}
.ctn-buttons {
  margin: 3rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.ctn-content {
  width: 100%;
  max-width: 1000px;
  height: 500px;
  margin: 0 auto;
}

.btn-summary {
  background-color: #000000;
  color: #ffffff;
}

.btn-ranking {
  background-color: #000000;
  color: #ffffff;
}

.btn-rating {
  background-color: #000000;
  color: #ffffff;
}

.btn-demographics {
  background-color: #000000;
  color: #ffffff;
}

.btn-geography {
  background-color: #000000;
  color: #ffffff;
}

.btn-timeline {
  background-color: #000000;
  color: #ffffff;
}

.btn-gifts {
  background-color: #000000;
  color: #ffffff;
}
