<div *ngIf="vm$ | async as vm">
  <h1 class="title-stats">Stats</h1>

  <h1 *ngIf="vm.status === 'loading'">Loading...</h1>

  <h1 *ngIf="vm.status === 'error'">
    {{ vm.error.message }}
  </h1>

  <div class="ctn-buttons">
    <!-- Summary -->
    <button matTooltip="See Summary" mat-icon-button class="btn-summary" (click)="changeChart('summary')">
      <mat-icon>bar_chart</mat-icon>
    </button>

    <!-- Demographics -->
    <button
      matTooltip="See Demographics"
      mat-icon-button
      class="btn-demographics"
      (click)="changeChart('demographics')"
    >
      <mat-icon>groups</mat-icon>
    </button>

    <!-- Geography -->
    <button matTooltip="See Geography" mat-icon-button class="btn-geography" (click)="changeChart('geography')">
      <mat-icon>globe_location_pin</mat-icon>
    </button>

    <!-- Gifts -->
    <button matTooltip="See Gifts" mat-icon-button class="btn-gifts" (click)="changeChart('gifts')">
      <mat-icon>featured_seasonal_and_gifts</mat-icon>
    </button>

    <!-- Ranking -->
    <button matTooltip="See Ranking" mat-icon-button class="btn-ranking" (click)="changeChart('ranking')">
      <mat-icon>leaderboard</mat-icon>
    </button>

    <!-- Rating -->
    <button matTooltip="See Rating" mat-icon-button class="btn-rating" (click)="changeChart('rating')">
      <mat-icon>star</mat-icon>
    </button>

    <!-- Timeline -->
    <button matTooltip="See Timeline" mat-icon-button class="btn-timeline" (click)="changeChart('timeline')">
      <mat-icon>timeline</mat-icon>
    </button>

    <!-- Stays -->
    <button matTooltip="See Stays" mat-icon-button class="btn-stays" (click)="changeChart('stays')">
      <mat-icon>hotel</mat-icon>
    </button>
  </div>

  <ng-container *ngIf="vm.status === 'success'">
    <div class="ctn-content">
      <guest-summary-chart *ngIf="currentChart === 'summary'" [summary]="vm.data.summary" />
      <guest-rating-chart *ngIf="currentChart === 'rating'" [distributions]="vm.data.ratings.distribution" />
      <guest-rankings-chart *ngIf="currentChart === 'ranking'" [rankings]="vm.data.rankings" />
      <guest-demographics-chart *ngIf="currentChart === 'demographics'" [demographics]="vm.data.demographics" />
      <guest-geography-chart *ngIf="currentChart === 'geography'" [geography]="vm.data.geography" />
      <guest-timeline-chart *ngIf="currentChart === 'timeline'" [timeline]="vm.data.timeline" />
      <guest-gifts-chart *ngIf="currentChart === 'gifts'" [gifts]="vm.data.gifts" />
      <guest-stays-chart *ngIf="currentChart === 'stays'" [stays]="vm.data.stays" />
    </div>
  </ng-container>
</div>
