.filters-form {
  margin-top: 2.5rem;
  text-align: center;
  padding: 1rem;
}

.ctn–btn {
  margin-top: 3rem;
  text-align: center;
  line-height: 1rem;
}

.btn-add {
  background-color: #c04d10;
  color: white;
}

.filters-form {
  margin-top: 5rem;
}
