@font-face {
  font-family: 'Poiret One';
  src: url('/assets/fonts/poiret-one/poiret-one-variable.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'Dancing Script';
  src: url('/assets/fonts/dancing-script/dancing-script-variable.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/icons/material-icons/material-icons.woff2') format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: 0;
}

::selection {
  background-color: #e44646;
  color: #ffffff;
}

::-moz-selection {
  background-color: #e44646;
  color: #ffffff;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

:root {
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.success {
  color: limegreen;
}

.danger {
  color: #950e0e;
}
