<!-- TABLE -->
<div class="ctn-guests">
  <table mat-table [dataSource]="data" matSort (matSortChange)="sort.emit($event)">
    <!-- NO -->
    <ng-container matColumnDef="no">
      <th mat-header-cell *matHeaderCellDef mat-sort-header><mat-icon>tag</mat-icon> No</th>
      <td mat-cell *matCellDef="let guest; let i = index">
        <span [matBadge]="offset + i + 1" matBadgeColor="warn"></span>
      </td>
    </ng-container>

    <!-- HANG OUT -->
    <ng-container matColumnDef="hangOut">
      <th mat-header-cell *matHeaderCellDef mat-sort-header><mat-icon>people</mat-icon>Hang Out</th>
      <td mat-cell *matCellDef="let guest">
        <div *ngIf="guest.isHangOutUnique; else hangOutList">
          <mat-icon
            [class.success]="guest.people[0].hangOut"
            [class.danger]="!guest.people[0].hangOut"
            [fontIcon]="guest.people[0].hangOut ? 'check' : 'close'"
          />
        </div>

        <ng-template #hangOutList>
          <div *ngFor="let person of guest.people">
            <mat-icon
              [class.success]="person.hangOut"
              [class.danger]="!person.hangOut"
              [fontIcon]="person.hangOut ? 'check' : 'close'"
            />
          </div>
        </ng-template>
      </td>
    </ng-container>

    <!-- NIGHTS -->
    <ng-container matColumnDef="nights">
      <th mat-header-cell *matHeaderCellDef mat-sort-header><mat-icon>hotel</mat-icon> Nights</th>
      <td mat-cell *matCellDef="let guest">
        <span [matBadge]="guest.nights" matBadgeColor="primary"></span>
      </td>
    </ng-container>

    <!-- GENDER (members) -->
    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <i class="fa-solid fa-person-half-dress"></i> <mat-icon>wc</mat-icon> Gender
      </th>
      <td mat-cell *matCellDef="let guest">
        <div *ngFor="let person of guest.people">
          <mat-icon
            [class.male]="person.gender === 'male'"
            [class.female]="person.gender === 'female'"
            [fontIcon]="person.gender === 'female' ? 'woman' : 'man'"
          />
        </div>
      </td>
    </ng-container>

    <!-- AGE (members + solo) -->
    <ng-container matColumnDef="birth_date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header><mat-icon>cake</mat-icon> Age</th>

      <td mat-cell *matCellDef="let guest">
        <div *ngFor="let person of guest.people">
          {{ person.age }}
        </div>
      </td>
    </ng-container>

    <!-- FULL NAME -->
    <ng-container matColumnDef="fullName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header><mat-icon>badge</mat-icon> Full Name</th>
      <td mat-cell *matCellDef="let guest">
        <div class="ctn-fullname-wapp" *ngFor="let person of guest.people">
          <button
            [disabled]="!person.whatsapp"
            matTooltip="Send message"
            class="btn-whatsapp"
            mat-icon-button
            (click)="whatsapp.emit(person.whatsapp)"
          >
            <i class="fa fa-whatsapp"></i>
          </button>

          <div class="ctn-first">
            <span>{{ person.fullName }}</span>
          </div>
        </div>
      </td>
    </ng-container>

    <!-- CONTINENT -->
    <ng-container matColumnDef="continent">
      <th mat-header-cell *matHeaderCellDef mat-sort-header><mat-icon>public</mat-icon> Continent</th>
      <td mat-cell *matCellDef="let guest">
        <div *ngIf="guest.isContinentUnique; else continentList">
          {{ guest.people[0].continent }}
        </div>

        <ng-template #continentList>
          <div *ngFor="let person of guest.people">
            {{ person.continent }}
          </div>
        </ng-template>
      </td>
    </ng-container>

    <!-- HOMETOWN -->
    <ng-container matColumnDef="hometownCode">
      <th mat-header-cell *matHeaderCellDef mat-sort-header><mat-icon>home</mat-icon> Hometown</th>

      <td mat-cell *matCellDef="let guest">
        <div *ngIf="guest.isHometownUnique; else hometownList">
          <span class="badge-single">
            <span class="flag-gap" [class]="guest.people[0].hometown.code | flag"> </span>
            {{ guest.people[0].hometown.city }}
          </span>
        </div>

        <ng-template #hometownList>
          <div *ngFor="let person of guest.people">
            <span class="flag-gap" [class]="person.hometown.code | flag"> </span>
            {{ person.hometown.city }}
          </div>
        </ng-template>
      </td>
    </ng-container>

    <!-- LIVING IN -->
    <ng-container matColumnDef="livingInCode">
      <th mat-header-cell *matHeaderCellDef mat-sort-header><mat-icon>location_city</mat-icon> Living In</th>

      <td mat-cell *matCellDef="let guest">
        <div *ngIf="guest.isLivingInUnique; else livingList">
          <span class="badge-single">
            <span class="flag-gap" [class]="guest.people[0].livingIn.code | flag"> </span>
            {{ guest.people[0].livingIn.city }}
          </span>
        </div>

        <ng-template #livingList>
          <div *ngFor="let person of guest.people">
            <span class="flag-gap" [class]="person.livingIn.code | flag"> </span>
            {{ person.livingIn.city }}
          </div>
        </ng-template>
      </td>
    </ng-container>

    <!-- VISITED DATE -->
    <ng-container matColumnDef="visitedDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header><mat-icon>event</mat-icon> Visited</th>
      <td mat-cell *matCellDef="let guest">
        {{ guest.visitedDate | date }}
      </td>
    </ng-container>

    <!-- RATING -->
    <ng-container matColumnDef="rating">
      <th mat-header-cell *matHeaderCellDef mat-sort-header><mat-icon>star</mat-icon> Rating</th>

      <td mat-cell *matCellDef="let guest">
        <div class="ctn-stars" *ngFor="let person of guest.people">
          <mat-icon *ngFor="let s of [1, 2, 3, 4, 5]; let i = index" [class.filled]="i < person.rating" fontIcon="star">
          </mat-icon>
        </div>
      </td>
    </ng-container>

    <!-- ACTIONS -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef><mat-icon>settings</mat-icon> Actions</th>
      <td mat-cell *matCellDef="let guest">
        <div class="actions">
          <button matTooltip="View guest" class="btn-detail" mat-icon-button (click)="detail.emit(guest)">
            <mat-icon fontIcon="visibility" />
          </button>

          <button matTooltip="View couchsurfing" class="btn-cs" mat-icon-button (click)="couchsurfing.emit(guest)">
            <mat-icon fontIcon="chair" />
          </button>

          <button matTooltip="Edit guest" class="btn-edit" mat-icon-button (click)="edit.emit(guest)">
            <mat-icon fontIcon="edit" />
          </button>

          <button matTooltip="Delete guest" class="btn-delete" mat-icon-button (click)="remove.emit(guest)">
            <mat-icon fontIcon="delete" />
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [length]="pagination?.total ?? 0"
    [pageSize]="pagination?.limit ?? 10"
    [pageIndex]="(pagination?.page ?? 1) - 1"
    [pageSizeOptions]="[10, 25, 50, 75, 100, 200]"
    (page)="page.emit($event)"
    [showFirstLastButtons]="true"
  />
</div>
